<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet/less" type="text/css" href="less/main.less">
    <!--<link rel="stylesheet/less" type="text/css" href="less/base.less">-->
    <script src="libs/less.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
</head>
<body ng-app="app">
    <div class="viewport">
        <aside class="navs collapse" ng-controller="navcontroller">
            <dl>
                <dt class="login">
                    <div class="avatar">
                        <img src="images/avatar.png" alt="">
                    </div>
                    <span>登录</span>
                </dt>
                <dd ng-repeat="(key, nav) in navs">
                    <a href="{{nav.link}}" ng-click="to()" class="{{nav.icon}}">
                        <span>{{nav.text}}</span>
                    </a>
                </dd>
            </dl>
            <div class="extra">
                <a href="javascript:;" class="icon-image">夜晚</a>
                <a href="javascript:;" class="icon-download">离线</a>
            </div>

        </aside>
        <div class="container collapse">
            <div class="header">
                <a href="javascript:void(0)"  class="icon-menu menu" ng-click="to()"></a>
                <h2>{{title}}</h2>
                <a href="javascript:void(0)" class="search icon-search"></a>
            </div>
            <div class="body">
                <img ng-show="loading" class="loading" src="images/loading.gif">
                <div ng-view></div>
            </div>
        </div>
    </div>

</body>
<script>
    var app=angular.module("app",["ngRoute"]);
//    定义一个全局变量
    app.run(["$rootScope",function ($rootScope) {
        $rootScope.op=false;
        $rootScope.loading=true;
        $rootScope.title="今日一刻";
        $rootScope.to=function () {
            $rootScope.op=!$rootScope.op;
            var arrs=document.querySelectorAll(".collapse");
            var navs=document.querySelectorAll(".navs dd");
            if($rootScope.op==true){
                for(var i=0;i<arrs.length;i++){
                    arrs[i].style.transform="translate(12.8125rem)";
                }
                for(var i=0;i<navs.length;i++){
                    navs[i].style.transform="translate(0)";
                    navs[i].style.transitionDelay="0.2s";
                    navs[i].style.transitionDuration = (i + 1) * 0.15 + 's';
                }
            }
            else{
                for(var i=0;i<arrs.length;i++){
                    arrs[i].style.transform="translate(0)";
                }
                var len = navs.length - 1;
                for(var j=len; j>0; j--) {
                    navs[j].style.transform = 'translate(-100%)';
                    navs[j].style.transitionDelay = '';
                    navs[j].style.transitionDuration = (len - j) * 0.15 + 's';
                }
            }
        }
    }]);
    app.controller("navcontroller",["$scope",function ($scope) {
        $scope.navs=[
            {link: '#/today', text: '今日一刻', icon: 'icon-home'},
            {link: '#/older', text: '往期内容', icon: 'icon-file-empty'},
            {link:'#/author',text:'热门作者',icon:'icon-pencil'},
            {link:'#/category',text:'栏目浏览',icon:'icon-cog'},
            {link:'#/favourite',text:'我的喜欢',icon:'icon-heart'},
            {link:'#/settings',text:'设置',icon:'icon-cog'}
        ];
    }]);
    app.config(["$routeProvider",function($routeProvider){

        $routeProvider.when("/today",{
            templateUrl:"today.html",
            controller:"today"
        })
            .when("/older",{
                templateUrl:"older.html",
                controller:"older"
            })
            .when("/author",{
                templateUrl:"author.html",
                controller:"author"
            })
            .when("/category",{
                templateUrl:"category.html",
                controller:"category"
            })
            .when("/favourite",{
                templateUrl:"favourite.html",
                controller:"favourite"
            })
            .when("/settings",{
                templateUrl:"settings.html",
                controller:"settings"
            })
            .otherwise({
                redirectTo: '/today'
            })


    }]);
    app.controller("today",["$scope","$http","$filter","$rootScope",function ($scope,$http,$filter,$rootScope) {
        $rootScope.loading=true;
        $rootScope.title="今日一刻";
        var today = $filter('date')(new Date, 'yyyy-MM-dd');
        $http({
            url:"a.php",
            method:"get",
            params:{today:today}
        }).success(function (info) {
            $rootScope.loading=false;
            console.log(info);
            $scope.date=info.date;
            $scope.posts=info.posts;
        });
    }]);
    app.controller("older",["$scope","$http","$rootScope",function ($scope,$http,$rootScope) {
        $rootScope.loading=true;
        $rootScope.title="往期内容";
        $http({
            url:"older.php",
            method:"get"
        }).success(function (info) {
            $rootScope.loading=false;
            $scope.date=info.date;
            $scope.posts=info.posts;
        });
    }]);
    app.controller("author",["$scope","$http","$rootScope",function ($scope,$http,$rootScope) {
        $rootScope.loading=true;
        $rootScope.title="热门作者";
        $http({
            url:"author.php",
            method:"get"
        }).success(function (info) {
            $scope.authors=info.authors;
        });
        $http({
            url:"authorhot.php",
            method:"get"
        }).success(function (a) {
            $rootScope.loading=false;
            console.log(a);
            $scope.authorhot=a.authors;
        });

    }]);
    app.controller("category",["$scope","$http","$rootScope",function ($scope,$http,$rootScope) {
        $rootScope.loading=false;
        $rootScope.title="栏目浏览";
    }]);
    app.controller("favourite",["$scope","$http","$rootScope",function ($scope,$http,$rootScope) {
        $rootScope.loading=false;
        $rootScope.title="我的喜欢";
    }]);

    app.controller("settings",["$scope","$http","$rootScope",function ($scope,$http,$rootScope) {
        $rootScope.loading=false;
        $rootScope.title="设置";
    }]);
</script>
</html>